/*O corpo inteiro da pagina*/
body{
    position: absolute;
    display: block;
    width: 1020px;
    height: auto;
    left: 50%;
    top:50%;
    margin-left: -510px;
    margin-top: -288px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

/*Recursos gerais da página*/
label {
  text-transform: uppercase;
  font: small-caps bold 12px sans-serif;
}

input{
    position: relative;
	border-radius: 10px;    
}

main{
    display: block;
    background-color: rgb(213, 226, 232);
}

button{
  display: inline-block;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  transition: 0.3s;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
}

button:active{
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

button:hover{
    
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.close-button{
	width: 25px;
    height: 25px;
	background: none;
    border: none;
    font-family: cursive;
    color: rgba(238, 240, 242, 1);
}

/*O cabeçalho da pagina*/
.titulo{
  background-color: #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 23px;
  font-weight: bold;
  font-family: "Verdana", sans-serif;
  color: rgba(252, 252, 252, 1);
    letter-spacing: 3px;
}

.menu{
  background-color: rgb(213, 226, 232);
  height: 60px;
  padding-left: 20px;
  padding-top: 15px;
  position: relative;
}

.menu div{
  padding: 5px;
  border-radius: 10px;
}

.menu select{
    border-radius: 10px;
}

.menu .labelTitulo{
  font-size: 14px;
}

.menu .adicionar{
  position: absolute;
  left: 4%;
  top: 50%;
  margin-left: -20px;
  margin-top: -32.5px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  width: auto;
  height: 40px;
  background-color: rgba(36, 123, 160, 1);
  box-shadow: 0 5px rgb(18, 60, 79);
  height: inherit;
}

.menu .adicionar:hover{
    background-color: rgb(24, 86, 112);
}

.menu .adicionar:active{
    box-shadow: 0 2px rgb(18, 60, 79);
}

.menu .remover-div{
  position: absolute;
  left: 25%;
  top: 50%;
  margin-top: -15px;
  height: auto;
  background-color: rgba(247, 86, 124, 1);
  box-shadow: 0 5px rgb(163, 57, 82);
}

.menu .inputRemover{
    width: 50px;
}

.menu .ordenar-div{
    position: absolute;
    left: 53%;
    top: 50%;
    margin-top: -15px;
    height: auto;
    background-color: rgba(110, 126, 133, 1);
    box-shadow: 0 5px rgb(59, 67, 71);
}

.menu .filtrar-div{
    position: absolute;
    left: 80%;
    top: 50%;
    margin-top: -15px;
    height: auto;
    box-shadow: 0 5px rgb(18, 60, 79);
    background-color: rgba(110, 126, 133, 1);
    box-shadow: 0 5px rgb(59, 67, 71);
}

.notification-bar{
    position: inherit;
    width: inherit;
    height: 45px;
    background-color: rgba(247, 86, 124, 1);
}

.notification-bar .close-button{
    position: relative;
    left: 97%;
    top: 50%;
	margin-top: -7.5px;
    border: none;
    box-shadow: none;
}

.notification-bar .close-button:hover{
    color: #c1c1c1;
}

.notification-bar .close-button:active{
    box-shadow: none;
	transform: none;
}

/*Adicionar tarefa*/
.addTarefa{
    width: 700px;
    height: 190px;
    position: relative;
    left: 50%;
    padding: 20px 10px 20px 10px;
    margin: 0px 5px 0px -350px;
    background-color: rgba(36, 123, 160, 1);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1), 0 4px 6px 0 rgba(0, 0, 0, 0.17);
}

.addTarefa .titulo-addTarefa{
  text-align: center;
  text-transform: uppercase;
  font: small-caps bold 16px sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}

.addTarefa input:hover{
    border-color: rgba(252, 252, 252, 1);
    border-width: 3px;
}

.addTarefa .tarefa-form .nome{
    display: inline-block;
}

.addTarefa .tarefa-form .nome .inputNome{
    width: 440px;
    height: 30px;
}

.addTarefa .tarefa-form .prazo{
    display: inline-block;
}

.addTarefa .tarefa-form .prazo .inputPrazo{
    width: 150px;
    height: 30px;
}

.addTarefa .tarefa-form .descricao{
    display: inline-block;
    margin: 10px 5px 0px 5px;
}

.addTarefa .tarefa-form .descricao .descricao-titulo{

}

.addTarefa .tarefa-form .descricao .inputDescricao{
    width: 550px;
    height: 100px;
    position: relative;
}

.addTarefa .tarefa-form .cor{
    display: inline-block;
    width: auto;
    user-select: none;
}

.addTarefa .tarefa-form .cor .inputCor{
    border-radius: 10px;
}

/*A área de tarefas da página*/
.lista{
    display: inline-block;
    position: relative;
    padding: 0px 10px 0px 10px;
    height: auto;
}

.lista .tarefa{
  position: absolute;
  display: inline-block;
  width: 450px;
  height: 200px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05), 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 8px 5px 8px 5px;
  margin: 20px;
  text-align: left;
  white-space: normal;
}

.lista .tarefa .corpo-tarefa{
    position: absolute;
	height: inherit;
}

.lista .tarefa .corpo-tarefa .close-button{
    position: absolute;
}

.lista .tarefa .corpo-tarefa .nome{
    position: absolute;
}

.lista .tarefa .corpo-tarefa .prazo{
    position: absolute;
}

.lista .tarefa .corpo-tarefa .descricao{
    position: absolute;
    margin: 5px;
}

.lista .tarefa label{
  font-size: 13px;
}

.lista .tarefa .prop-tarefa{
    background-color: #c9c9c9;
}

/*Eventos especiais da página*/
.clicado{
    background-color: black;
}

.ocultar{
    display: none !important;
}

.erro{
    background-color: rgba(247, 86, 124, 1);
}

.background-vermelho{
    background-color: rgb(219, 63, 52);
}

.background-amarelo{
    background-color: rgb(237, 242, 84);
}

.background-verde{
    background-color: rgb(97, 232, 115);
}

.background-azul{
    background-color: #2A5D7E;
}

.background-rosa{
    background-color: rgb(239, 112, 171);
}