/*O corpo inteiro da pagina*/
body{
    width: 1020px;
    height: auto;
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -510px;
    margin-top: -288px;
    box-sizing: border-box;
    background-color: rgb(213, 226, 232);
    background-image:url("../images/background.jpg"); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}


/*O cabeçalho da pagina*/
.titulo{
    background-color: #000;
    text-align: center;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bold;
    font-family: "dataLatim", sans-serif;
    color: rgba(252, 252, 252, 1);
    letter-spacing: 3px;
}

.menu{
    background-color: rgb(213, 226, 232);
    height: 60px;
    padding-left: 20px;
    padding-top: 15px;
    position: relative;
    border-bottom: 1px dotted #000;
}

.menu div{
    padding: 5px;
    border-radius: 10px;
}

.menu select{
    border-radius: 10px;
}

.menu label{
    font-family: "dataLatim";
    font-size: 15px;
    letter-spacing: 1.2px;
}

.menu .adicionar{
    position: absolute;
    left: 4%;
    top: 50%;
    margin-left: -20px;
    margin-top: -32.5px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    width: auto;
    height: 40px;
    background-color: rgba(36, 123, 160, 1);
    box-shadow: 0 5px rgb(18, 60, 79);
    height: inherit;
}

.menu .adicionar:hover{
    background-color: rgb(24, 86, 112);
}

.menu .adicionar:active{
    box-shadow: 0 2px rgb(18, 60, 79);
}

.menu .remover-div{
    position: absolute;
    left: 25%;
    top: 50%;
    margin-top: -15px;
    height: 20px;
    background-color: rgba(247, 86, 124, 1);
    box-shadow: 0 5px rgb(163, 57, 82);
}

.menu .remover-div .remover-button{
    position: relative;
    width: 30px;
    height: 18px;
    bottom: 10%;
    font-weight: bold;
    text-align: center;
    background-color: rgb(165, 23, 51);
    box-shadow: 0 5px rgb(96, 12, 29);
}

.menu .remover-div .remover-button:hover{
    background-color: rgb(119, 15, 36);
}

.menu .remover-div .remover-button:active{
    box-shadow: 0 2px rgb(96, 12, 29);
}

.menu .inputRemover{
    width: 50px;
}

.menu .ordenar-div{
    position: absolute;
    left: 55.8%;
    top: 50%;
    margin-top: -15px;
    height: 20px;
    background-color: rgba(110, 126, 133, 1);
    box-shadow: 0 5px rgb(59, 67, 71);
}

.menu .filtrar-div{
    position: absolute;
    left: 85.8%;
    top: 50%;
    margin-top: -15px;
    height: 20px;
    box-shadow: 0 5px rgb(18, 60, 79);
    background-color: rgba(110, 126, 133, 1);
    box-shadow: 0 5px rgb(59, 67, 71);
}

.menu .filtrar{
    width: 40px;
}

.notification-bar{
    position: inherit;
    width: inherit;
    height: 45px;
    background-color: rgba(247, 86, 124, 1);
}

.notification-bar .close-button{
    position: relative;
    left: 97%;
    top: 50%;
	margin-top: -7.5px;
    border: none;
    box-shadow: none;
}

.notification-bar .close-button:hover{
    color: #c1c1c1;
}

.notification-bar .close-button:active{
    box-shadow: none;
	transform: none;
}

/*Recursos gerais da página*/
label {
    text-transform: uppercase;
    font: small-caps bold 12px sans-serif;
}

input{
    position: relative;
	border-radius: 10px;    
}

main{
    display: inherit;
    background-color: rgb(213, 226, 232);
}

button{
  display: inline-block;
  font-family: "dataLatim", sans-serif;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  transition: 0.3s;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
}

button:active{
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

button:hover{
    
}

button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.close-button{
	width: 25px;
    height: 25px;
	background: none;
    border: none;
    font-family: cursive;
    color: rgba(238, 240, 242, 1);
}

@font-face{
    font-family: dataLatim;
    src: url("../fonts/data-latin.ttf");
}
/*Adicionar tarefa*/
.addTarefa{
    width: 700px;
    height: 190px;
    position: relative;
    left: 50%;
    padding: 20px 10px 20px 10px;
    margin: 5px 0px 5px -350px;
    background-color: rgba(36, 123, 160, 1);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1), 0 4px 6px 0 rgba(0, 0, 0, 0.17);
}

.addTarefa .titulo-addTarefa{
    text-align: center;
    text-transform: uppercase;
    font: small-caps bold 16px sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
}

.addTarefa input:hover{
    border-color: rgba(252, 252, 252, 1);
    border-width: 3px;
}

.addTarefa .tarefa-form .nome{
    display: inline-block;
}

.addTarefa .tarefa-form .nome .inputNome{
    width: 440px;
    height: 30px;
}

.addTarefa .tarefa-form .prazo{
    display: inline-block;
}

.addTarefa .tarefa-form .prazo .inputPrazo{
    width: 150px;
    height: 30px;
}

.addTarefa .tarefa-form .descricao{
    display: inline-block;
    margin: 10px 5px 0px 5px;
}

.addTarefa .tarefa-form .descricao .descricao-titulo{

}

.addTarefa .tarefa-form .descricao .inputDescricao{
    width: 550px;
    height: 100px;
    position: relative;
}

.addTarefa .tarefa-form .cor{
    display: inline-block;
    width: auto;
    user-select: none;
}

.addTarefa .tarefa-form .cor .inputCor{
    border-radius: 10px;
    user-select: none;
}

.addTarefa button{
    width: 70px;
    height: 33px;
    font-weight: bold;
}

.addTarefa .salvar{
    position: absolute;
    left: 50%;
    top: 82%;
    margin-left: -35px;
    background-color: rgb(97, 232, 115);
    box-shadow: 0 5px rgb(51, 124, 61);
    color: #000;
}

.addTarefa .salvar:hover{
    background-color: rgb(57, 140, 68);
}

.addTarefa .salvar:active{
    box-shadow: 0 2px rgb(51, 124, 61);
}

.addTarefa .cancelar{
    position: absolute;
    left: 100%;
    top: 82%;
    margin-left: -80px;
    background-color: rgba(110, 126, 133, 1);
    box-shadow: 0 5px rgb(59, 67, 71);
}

.addTarefa .cancelar:hover{
    background-color: rgb(89, 103, 109);
}

.addTarefa .cancelar:active{
    box-shadow: 0 2px rgb(59, 67, 71);
}

/*A área de tarefas da página*/
.lista{
    padding: 0px 10px 0px 10px;
}

.lista .tarefa{
    position: relative;
    display:inline-flex;
    width: 450px;
    height: 200px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05), 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    padding: 8px 5px 8px 5px;
    margin: 20px;
    text-align: left;
    white-space: normal;
    word-break: break-all;
    border-radius: 10px;
}

.lista .tarefa div{
    position: absolute;
    margin: 1%;
    text-align: center;
    border-radius: 10px;
    background-color: #fffce2;
    box-shadow: 0 5px #c1bfa8;
    border: 1px dotted #000;
    padding-top: 3px;
}

.lista .tarefa .nome{
    width: 70%;
    height: 19%;
    display: inline-block;
}

.lista .tarefa .prazo{
    width: 20%;
    height: 19%;
    left: 76%;
    display: inline-block;
}

.lista .tarefa .descricao{
    display: inline-block;
    width: 95%;
    height: 62%;
    top: 30%;
    margin: 5px;
}

.lista .tarefa .descricao p{
    width: inherit;
    height: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -210px;
    margin-top: -20px;
}

.lista .tarefa label{
    font-size: 13px;
    letter-spacing: 0.6px;
}

.lista .tarefa p{
    font-size: 0.8rem;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

/*Eventos especiais da página*/
.clicado{
    background-color: black;
}

.ocultar{
    display: none !important;
}

.erro{
    background-color: rgba(247, 86, 124, 1);
}

.background-vermelho{
    background-color: rgb(219, 63, 52);
}

.tarefa.background-vermelho{
    box-shadow: 0 6px rgb(150, 43, 36);
}

.background-amarelo{
    background-color: rgb(237, 242, 84);
}

.tarefa.background-amarelo{
    box-shadow: 0 6px rgb(189, 193, 67);
}

.background-verde{
    background-color: rgb(97, 232, 115);
}

.tarefa.background-verde{
    box-shadow: 0 6px rgb(73, 175, 87);
}

.background-azul{
    background-color: rgb(54, 118, 160);
}

.tarefa.background-azul{
    box-shadow: 0 6px rgb(37, 80, 109);
}

.background-rosa{
    background-color: rgb(239, 112, 171);
}

.tarefa.background-rosa{
    box-shadow: 0 6px rgb(158, 74, 113);
}