/* Coolors Exported Palette - coolors.co/000000-fcfcfc-f7567c-eef0f2-6e7e85 */

/* HSL */
$color1: hsla(0%, 0%, 0%, 1);
$color2: hsla(0%, 0%, 99%, 1);
$color3: hsla(346%, 91%, 65%, 1);
$color4: hsla(210%, 13%, 94%, 1);
$color5: hsla(198%, 9%, 48%, 1);

/* RGB */
$color1: rgba(0, 0, 0, 1);
$color2: rgba(252, 252, 252, 1);
$color3: rgba(247, 86, 124, 1);
$color4: rgba(238, 240, 242, 1);
$color5: rgba(110, 126, 133, 1);

/* HSL */
$color1: hsla(198%, 63%, 38%, 1);
$color2: hsla(170%, 40%, 60%, 1);
$color3: hsla(139%, 36%, 78%, 1);
$color4: hsla(71%, 100%, 87%, 1);
$color5: hsla(344%, 100%, 54%, 1);

/* RGB */
$color1: rgba(36, 123, 160, 1);
$color2: rgba(112, 193, 179, 1);
$color3: rgba(178, 219, 191, 1);
$color4: rgba(243, 255, 189, 1);
$color5: rgba(255, 22, 84, 1);

/*RGB*/
$color1: rgb(219, 63, 52);
$color2: rgb(237, 242, 84);
$color3: rgb(97, 232, 115);
$color4: rgb(30, 99, 237);
$color5: rgb(239, 112, 171);

/*RGB*/
$color1: #2A5D7E;
$color2: #B49E3C;
$color3: #993A33;
$color4: #62CB9C;
$color5: #8D81D5;
$color6: #C9EAED;
$color7: #CC9B66;
